[flake8]
max-line-length = 100
ignore = E501, W503, E203
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,*.egg-info,.venv,venv,generated_envs,generated_envs_2,tests/generated_envs*,tests/integration/generated_envs*
